.logo {
  display: flex;
  stroke-dasharray: 0 110 60 300;
  transition: 0.5s ease-in-out;
  stroke-dashoffset: -85;
  box-sizing: border-box;
  stroke: black;
  animation: logoAnim 1.5s ease-in-out forwards;
  transition: all 1.5s;
  stroke-linecap: round;
}

@keyframes logoAnim {
  0% {
    stroke-dasharray: 0 180 140 300;
    stroke-dashoffset: -145;
    fill: transparent;
  }
  85% {
    stroke-width: 1;
    fill: transparent;
  }
  100% {
    stroke-dasharray: 50 50 300 300;
    stroke-width: 0;
    fill: black;
    stroke-dashoffset: 100;
  }
}
@keyframes logoHover {
  0% {
  }
  85% {
  }
  100% {
  }
}
